.acting{
	background:#f3ebb8;
}
.navbar-custom{
}
.navbar a{
color:	#ee7777;
font-weight:bold;
}
.nav li a:hover{
	background:#7e3141	;
}
header{
	height:300px;
	background:url('img2.jpg');
	color:white;
	padding:100px;
}
img{
	align:middle;
	border-radius:8px;
	border: 3px solid black;
    border-radius: 4px;
    padding: 5px;
}
.block-a{
	margin-top:50px;
	border-top:1px solid gray;
	padding:50px 0;
}
.block-b{
	margin-top:50px;
	padding:50px 0;
}
div.image { 
   #position: relative; 
   width: 100%; /* for IE 6 */
}

div.description { 
   #position: absolute; 
   #top: 450px;
   #left: 500; 
   #width: 100%; 
   text-align: center;
  #padding: 10px 20px;
}
h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   width:300px;
}
footer.copyright{
	text-align:center;
}
