body{
			   background-image:url('wTqtbNE.jpg');
			   			   
			   background-size:100%;
			   background-repeat:no-repeat;
			    }
			   #container{
			   margin:0 auto;}
			   #Head{
			   		 text-align:center;
					 font-family:'Orange Juice';
					 font-size:40px;
			    }
				 .btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
				 .icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;color:black;}
				#description{
							 float:left;
							 margin-top:75px;
							 margin-left:150px;
							 width:500px;
							 height:300px;
				 }
				#image{
					   float:right;
						margin-right:150px;
				 }
				 
				 
				 footer{ 
				 position:absolute;
  				 width:100%;
   				 height:40px;
				 margin-top:20px;
				 background:white;}
				 p{ 
				 background-color:white;
				 opacity:.85;
				 color:black;
				  }
