*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.forgot-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:370px;
	position:relative;
	/*background:url("Forgot.jpeg") no-repeat center;*/
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	background:#ffcc99;
	opacity:0.7;
	padding-left:5px;

}
.forgot-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}

.forgot-html{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
}
.forgot-html,
.forgot-form .group .check{
	display:none;
}

.forgot-form .group .label,
.forgot-form .group .button{
	text-transform:uppercase;
}

.forgot-form{
	min-height:345px;
	position:relative;
}
.forgot-form .group{
	margin-bottom:105px;
}
.forgot-form .group .label,
.forgot-form .group .input,
.forgot-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.forgot-form .group .input,
.forgot-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.forgot-form .group .label{
	position: absolute;
	color:black;
	font-size:20px;
}
.forgot-form .group .button{
	background:#1161ee;
}
.forgot-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
}

body{
background: url('BackGround.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-size: cover;}

