body{
	background: url('wTqtbNE.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
			    }
#container{
		margin:0 auto;
}
#Head{
	font-family:'Orange Juice';
	text-align:center;
	font-size:40px;
}
 .btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
 .icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;color:black;}


 
 footer{ 
 position:absolute;
 width:100%;
 height:40px;
 margin-top:20px;
 background:white;}
 p{ 
 background-color:white;
 opacity:.85;
 color:black;
  }

ol
{
  width: 60em;  /* room for 3 columns */
}
ol li
{
  float: center;
  width: 60em;  /* accommodate the widest item */
}
/* stop the floating after the list */
br
{
  clear: left;
}
/* separate the list from what follows it */
div.listwrapper
{
  position:relative;
}

#popup { color: #000; }

#popup a, #popup a:visited {
	position:relative;
	display:inline;
	width: 500px;
	line-height: 10px;
	text-align: left;
	margin: 0;
	text-decoration:none;
	font-size: 1em;
	font-weight: bold; 
	
}

#popup a span {
	display: none;
}

#popup a:hover { 
	background-color: #e9e9e2; 
}

/* the IE correction rule */
#popup a:hover	{
	text-indent: 0; /* added the default value */
}

#popup a:hover span {
	display:block;
	position: absolute;
	top: 0px;
	left: 280px;
	width: 320px;
	margin: 0px;
	padding: 20px;
	font-weight:normal;
	text-align: center;
	border: 1px solid #666;
	background: #e5e5e5;
}


