body{
	background: url('wTqtbNE.jpg') ;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#Head{
			   		 text-align:center;
					 font-family:'Orange Juice';
					 font-size:75px;;
					 color:
				}
			div{
				 font-size:25px;
				 margin-top:50px;
				 text-align:left;
				 background-color:white;
				 opacity:0.8; }
			#gq{
				float:left;
				margin-left:50px;
				width:550px;
				padding:0 0 50px 50px;
				 }
			#am{
				float:right;
				margin-right:50px;
				width:550px;
				padding:0 0 50px 50px; }
			h4{
			    font-family:Monotype Corsiva;
				font-size:50px; }
				
			summary::-webkit-details-marker {
    			display: none;
				}
			summary::before{
			content:'\2E19';
			margin-right: 5px; }
			p{
			  font-size:20px; 
			  color:#8b1a1a;
			  margin-left:30px;}
			